html{
    box-sizing: border-box;
  }/*Resets the box model to control border, padding, look, etc.,*/

  *,::before, ::after{
    box-sizing: inherit;
  }
  #piano{
    background-color:#00471b;
    width:992px;
    height:290px;
    margin: 80px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    border-radius: 10px;
  }/*relative position allows the logo to come through. does affect z-index*/
  .keys {
    background-color: #040404;
    width:949px;
    height: 180px;
    padding-left:2px;
    overflow: hidden;
  }/*hides key collapse/elements pushed outside the set width when window shrinks below 768px*/
  .key{
    background-color: #ffffff;
    position:relative;
    width:41px;
    height: 175px;
    float: left;
    margin:2px;
    border-radius: 0 0 3px 3px;
  }/*float drew the keys to the right from the left all 21 and the margin separated them.*/

  .key.black--key::after {
    background-color:#1d1e22;
    content:"";
    position: absolute;
    left: -18px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
  }/*step 18 targets the elements after key black key in html. the ""makes the pseudo-elements an empty string. it still ensures rendering, however, while still being empty.*/

  .logo{
    width:200px;
    position: absolute;
    top: 23px;
  }
  @media (max-width: 768px){
    #piano{
        width: 335px;
      }
      .keys{
        width:318px;
      }
      .logo {
        width:150px;
      }
}
@media (min-width: 769px) and (max-width: 1199px ) {
    #piano{
        width: 675px;
      }
      .keys {
        width: 633px;
      }
}